.success-image {
 display: block;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
 background: url(https://drive.google.com/file/d/13tuKwyM6eeVthDC15gRCJnAQr_jl1M15/view?usp=sharing)
 no-repeat;
 width: 400px;
 height: 200px;
 padding-left: 400px;
} !important;
}
