.success-image {
 display: block;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
 background: url(https://images.unsplash.com/photo-162...)
 no-repeat;
 width: 180px;
 height: 236px;
 padding-left: 180px;
}
